mixin header
  header.border-b.py-4.px-8.flex.items-center.space.justify-between.shadow-xl
    a.flex.items-center(href="/")
      svg.inline.text-blue-500(xmlns="http://www.w3.org/2000/svg" fill="none" height="28" width="28" viewBox="0 0 24 24" stroke="currentColor")
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11")
      span.text-xl.text-gray-800.font-bold.ml-1.tracking-tight bligblog
    div.text-sm.text-gray-500
      if user
        a(href="#") #{user.username}
        a.ml-8(href="/logout") Logout
      else
        a(href="/login") Login
        a.ml-8(href="/signup") Signup